language: java
cache:
  directories:
  - "$HOME/.m2"
sudo: required
services:
- docker
notifications:
  email:
  - shubhamr837@gmail.com
  on_success: always
  on_failure: always
branches:
  only:
  - master
env:
  global:
  - secure: WWQYGb39kyhQYv3oMxpmfhQF1Sb64FEpNMx4uzHPgFCFIXcX4Q7EdtkvrYMx42Z4Dt+mLUtRQrz3nPxdWo2fMmpGFRTF/TDszGFuI+W0ZFe+fgbXfWpUaGcJXk4Yr2wtyyYf6A1w9RBlwc+WufoE22H7ua2tyS9iwEkIYFHsSAfDwoIy0MkWPd8or+R9VKat035UCp7Po+9KOA+hDg+uguWMWYq1vEkg73HtorEmPoGOBVwKrKtXQlb6wOtVSs4kDDME3CnAvYy+piVfGLvMvsgEBj2hAbfBqmU9jPz46cvwV/LF1Hw4Jc/w9mvIgrknGwkL71B9NK1z3fby1MTyjAWWyGwk2ZmkeozftZV2b7xbhovcHRb5z5lDTzAd21jQTzfZFyDYrxNDoEf4Eb0mQDrexOc4nRHaLFLeFvJa+GSd+Aecy+h2zdzBMyXX0SI5l1fAIE4oGHvIAggYbek0HElMt8kDtZ9vpGo5jE6rWDQGjYiO3OFDoPfQtJWDmuKIHlxrIMqqCmXxhgNcJyDKAiZEB6TP9ZqLfzPbyCRtP+NJuW6fR+qlVP30Kb9nr9X+Mz8Mu5NkdToEXgeOf2/Mix5P+SdgmPpJ/lqVaPSABU18DN96hdwHtxh4ZmiFx1Zj9K6Gy4f1wT52L2IQ+grBdnwcd+iAJ61DjDjtEWafbDI=
  - secure: vbfpgbMwAfnJH2ODbPLz9YJyYNPYDeWXzV3mQ1qmL2UolVo/sx1rP4UQFQB4Q6TwcLfnwnwkd2vZJFZDLOOdnicOdBtw1T8ZzrVNnHCpW+sMHKr9zNXYXhGb8Vd5z9vF0BaouG4bv9iOPGgx6yUSmDQa0iVGlQ7U+miRtNsRrPXHrFHIHY7omiH5WXgmrjx3ZcgYwqK//ai1g1TJWWsUAQh472UpBteEjv+UcX4HDlbk6LpePaaH8TTKmQgXqNe0Mu9z7ki2gZ4yAmIajfOkECohPn1KBh5zYPkPriC4eSOYBm/UUl5RiJ1Ew0oSOFaIh5m7RY1LaW948gV4M/u2RBApHmuJqWs/W/a8EJn5doHrc0qE480w8l5ojM9mGbEBOn+I0ANrnzvu5ycrtSjFOV/FkklFLa9zpW4UD29kCw1YPlSMCi1/SjbUYEidnturL86w4rJZGFNP1uJLDoLrvQox6sYly2atjD+kMtEQHEjRZI+Zv2ETo3+kuTOo1DH8jZCx4uN/VEoZla10NXYL3tTkkXCajxsk+7I1TBN/EL+Z4YMpaaMW7MQ/k7ekWlZmsk4p5jcwfBd6nB1jVLVjeMnAc99Oyi2RPTkwAOsBsvBANu1uDC+iiDRO3cSc7eNfgtmbfcgAx6ldcF6wclArExZcGRGogInZZOCHzularnE=
before_install:
- echo $DOCKERHUB_PASSWORD| docker login --username $DOCKERHUB_USERNAME --password $DOCKERHUB_PASSWORD
script:
- "./mvnw package"
- docker build -t shubhamr837 .
- docker tag shubhamr837:latest shubhamr837/pdf:eureka-server
- docker push shubhamr837/pdf:eureka-server
